.repos-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px; 
    padding: 24px 32px;
    margin-top: 20px;
    width: 568px;
}

.repos-list {
    position: relative;
    border-left: 1px solid #e5e7eb;
}

.no-repos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 550px;
}
