.sort-buttons {
    margin-bottom: 8px;
    margin-left: 0px;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.sort-button {
    padding: 10px 20px;
    margin-right: 48px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.03);
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    cursor: pointer;
}

.sort-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #3b82f6;
}

.sort-button:hover {
    background-color: rgba(0, 55, 107, 0.1);
}

.sort-button.active {
    border-color: #3b82f6;
    color: #3b82f6;
}
